
    #area{
        position:relative;
        background-color:#f0f0f0;
        margin:1em auto;
        border:2px solid #aaa;
    }
    .ball{
        background-color:balck;
        position:absolute;
        display:inline-block;
        border-radius: 50%;
    }